.preloader {
  animation-name: preloader;
  animation-duration: 3s;
  transition-timing-function: linear;
}


@keyframes preloader {
  from {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    background-image: url("../images/Logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    transform: scale(1);
  }

  50% {
    transform: scale(.99);
  }

  to {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    background-image: url("../images/Logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    transform: scale(1);
  }
}