.promo {
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;

    @include max-screen(360px) {
      display: block;
    }

    .promo_products {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fbfbfb;
      padding-right: 30px;
      max-width: 586px;
      height: 375px;

      @include max-screen(360px) {
        display: block;
        text-align: center;
        padding-right: 0;
        width: 100%;
        height: auto;
      }

      img {
        position: relative;
        top: -22px;
        width: 274px;
        height: 292px;

        @include max-screen(360px) {
          position: static;
          height: auto;
          width: 100%;
        }
      }

      .promo_product {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 292px;

        @include max-screen(360px) {
          display: block;
          text-align: center;
          margin: 0 auto 28px;
        }

        h3 {
          font-family: 'cera_problack', sans-serif;
          font-weight: 900;
          font-size: 18px;
          line-height: 133%;
          text-transform: uppercase;
          text-align: right;
          color: #3d3d3d;
          margin-bottom: 9px;

          @include max-screen(360px) {
            text-align: center;
          }
        }

        p {
          font-family: 'cera_proregular', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 171%;
          text-align: right;
          color: #727272;
          margin-bottom: 25px;

          @include max-screen(360px) {
            text-align: center;
          }
        }

        .btn_find_more {
          font-family: 'cera_proregular', sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 143%;
          color: #fff;
          background: #46A358;
          border-radius: 6px;
          padding: 10px 28px;
          text-decoration: none;
          transition: 0.4s;

          &:hover {
            background-color: white;
            color: #46A358;
            transition: 0.4s;
          }

          &:after {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            background-image: url('../images/Arrow_Right.svg');
            position: relative;
            top: 4px;
            margin-left: 2px;
            transition: 0.4s;
          }

          &:hover:after {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            background-image: url('../images/Arrow_Right_Green_Find_More.svg');
            position: relative;
            top: 4px;
            margin-left: 2px;
            transition: 0.4s;
          }
        }
      }
    }
  }
}