@media (max-width: 360px) {
    header {
        margin-bottom: 32px;
    }
    header nav {
        display: none;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .banner .container {
        display: block;
    }
    .banner .container img{
        width: 100%;
    }
    .banner .container article {
        margin-bottom: 24px;
    }
    .catalog .container {
        display: block;
    }
    .categories {
        width: 100%;
    }
    .categories img {
        margin-bottom: 16px;
    }
    .catalog .products .products_sorting {
        display: block;
    }
    .catalog .products .products_sorting ul {
        margin-bottom: 8px;
    }
    .catalog .products .products_cards {
        display: block;
    }
    .catalog .products .products_cards .card {
        max-width: 100%;
        text-align: center;
    }
    .catalog .products .products_cards .card .discount {
        left: 36px;
        top: 2px;
    }
    .catalog .products .products_cards .card div {
        justify-content: center;
    }
    .catalog .products .products_cards .card:hover ul li {
        left: 100px;
    }
    .promo .container {
        display: block;
    }
    .promo .container .promo_products {
        display: block;
        text-align: center;
        padding-right: 0;
        width: 100%;
        height: auto;
    }
    .promo .container .promo_products .promo_product {
        display: block;
        text-align: center;
        margin: 0 auto 28px;
    }
    .promo .container .promo_products .promo_product h3 {
        text-align: center;
    }
    .promo .container .promo_products .promo_product p {
        text-align: center;
    }
    .promo .container .promo_products img {
        position: static;
        height: auto;
        width: 100%;
    }
    .blog_posts .container .posts {
        display: block;
    }
    .blog_posts .container .posts .post {
        text-align: center;
        margin: auto;
    }
    .blog_posts .container .posts .post p {
        text-align: center;
    }
    .newsletter .container {
        display: block;
    }
    .newsletter .container .card {
        text-align: center;
        margin-bottom: 36px;
    }
    footer .container .upper_footer {
        display: block;
    }
    footer .container p {
        text-align: left;
    }
    footer .container .upper_footer p:nth-of-type(1):before {
        top: 7px;
        left: -2px;
    }
    footer .container .upper_footer p:nth-of-type(2):before {
        left: -2px;
    }
    footer .container .upper_footer p:nth-of-type(3):before {
        left: -2px;
    }
    footer .container .upper_footer img {
        margin-bottom: 10px;
    }
    .bottom_footer {
        display: block;
    }
    .bottom_footer .list {
        margin-bottom: 24px;
    }
}