.blog_posts .container {
    display: block;
    margin-bottom: 100px;
}

.blog_posts .container h2 {
    font-family: 'cera_probold', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.blog_posts .container p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

.blog_posts .container .posts {
    display: flex;
    justify-content: space-between;
}

.blog_posts .container .posts .post {
    max-width: 268px;
    background: #fbfbfb;
    padding-bottom: 13px;
}

.blog_posts .container .posts .post img {
    margin-bottom: 9px;
    max-width: 268px;
}

.blog_posts .container .posts .post h4 {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px;
    margin-left: 15px;
}

.blog_posts .container .posts .post h3 {
    font-family: 'cera_probold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-bottom: 4px;
    margin-left: 15px;
}

.blog_posts .container .posts .post p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 9px;
    margin-left: 15px;
    text-align: left;
}

.blog_posts .container .posts .post .btn_blog_post {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    margin-left: 15px;
    transition: 0.4s;
}

.blog_posts .container .posts .post .btn_blog_post:hover {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    transition: 0.4s;
}

.blog_posts .container .posts .post .btn_blog_post:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../images/Arrow_Right_Black.svg');
    position: relative;
    top: 5px;
    margin-right: 3px;
    transition: 0.4s;
}

.blog_posts .container .posts .post .btn_blog_post:hover:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../images/Arrow_Right_Green.svg');
    position: relative;
    top: 5px;
    margin-right: 3px;
    transition: 0.4s;
}

.newsletter .container {
    background: #fbfbfb;
    padding: 24px;
    gap: 60px;
}

.newsletter .container .card img {
    margin-bottom: 15px;
}

.newsletter .container .card {
    position: relative;
}

.newsletter .container .card .vertical_line {
    width: 1px;
    height: 187px;
    background: rgba(70, 163, 88, 0.1);
    position: absolute;
    left: -27px;
}

.newsletter .container .card h3 {
    font-family: 'cera_probold', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.newsletter .container .card p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}

.newsletter .container .sign_up_newsletter h3 {
    font-family: 'cera_probold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 25px;
}

.newsletter .container .sign_up_newsletter form {
    display: flex;
    margin-bottom: 18px;
}

.newsletter .container .sign_up_newsletter form input {
    border-radius: 6px 0 0 6px;
    width: 270px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    border: none;
    padding: 12px 0 12px 12px;
}

.newsletter .container .sign_up_newsletter form input:focus {
    outline: none;
}

.newsletter .container .sign_up_newsletter form button {
    border-radius: 0 6px 6px 0;
    background: #46a358;
    font-family: 'cera_probold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    border: none;
    padding: 12px 26px;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter .container .sign_up_newsletter form button:hover {
    background-color: #fff;
    color: #46A358;
    border: 1px solid #46A358;
}


.newsletter .container .sign_up_newsletter p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}

footer .container {
    display: block;
}

footer .container .upper_footer {
    display: flex;
    padding: 26px 0 26px 23px;
    gap: 92px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    width: 100%;
    align-items: center;
    border-top: 1px solid rgba(70, 163, 88, 0.2);
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

footer .container .upper_footer p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
}

footer .container .upper_footer p:nth-of-type(1):before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/Location.svg');
    position: relative;
    transition: 0.4s;
    top: 15px;
    left: -9px;
}

footer .container .upper_footer p:nth-of-type(2):before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/Message.svg');
    position: relative;
    transition: 0.4s;
    top: 7px;
    left: -5px;
}

footer .container .upper_footer p:nth-of-type(3):before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/Calling.svg');
    position: relative;
    transition: 0.4s;
    top: 5px;
    left: -5px;
}

.bottom_footer {
    display: flex;
    padding: 33px 0 27px 23px;
    background: #fbfbfb;
    gap: 166px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

.bottom_footer h3 {
    font-family: 'cera_probold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.bottom_footer ul li a {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    text-decoration: none;
}

.bottom_footer svg {
    margin-right: 10px;
}

.bottom_footer .social_media h3 {
    margin-bottom: 20px;
}

.bottom_footer .social_media .icons {
    display: flex;
    margin-bottom: 33px;
}

.bottom_footer .social_media .icons li a {
    text-decoration: none;
    transition: 0.3s;
}

.bottom_footer .social_media .icons li a:hover svg {
    fill: #46A358;
}

.bottom_footer .social_media .icons li a:hover svg rect {
    stroke: #fff;
}

.bottom_footer .social_media .icons li a:hover svg path {
    fill: #fff;
}

.bottom_footer .social_media h3:nth-of-type(2) {
    margin-bottom: 13px;
}

footer .container p {
    text-align: center;
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    margin-bottom: 13px;
}



